/* Stuff common to le potato */

/ {
	gpioleds {
		sys_led {
			label = "librecomputer:system-status";
			panic-indicator;
		};

		blue_led {
			label = "librecomputer:blue";
			gpios = <&gpio_ao GPIOAO_2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};
	};

	gpio_keypad {
		status = "disabled";
	};

	/delete-node/ mtd_nand;

	jtag {
		status = "disabled";
		select = "disable";
	};

	spi {
		compatible = "spi-gpio";
		ranges;

		gpio-mosi = <&gpio 87 0>;
		gpio-miso = <&gpio 88 0>;
		gpio-sck = <&gpio 90 0>;
		cs-gpios = <&gpio 89 1>;
		num-chipseletcs = <1>;
		status = "ok";

		spidev {
			compatible = "spidev";
			reg = <0>
			spi-max-frequency = <32000000>;
		};
	};

};
